BlaiseDLLs/StatNeth.Blaise.Instrument.Text.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TranslationsFile" nillable="true" type="TranslationsFile" />
  <xs:complexType name="TranslationsFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Languages" type="ArrayOfLanguage" />
      <xs:element minOccurs="0" maxOccurs="1" name="Roles" type="ArrayOfRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modes" type="ArrayOfMode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="ArrayOfTranslation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Language" nillable="true" type="Language" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Language">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Role">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mode" nillable="true" type="Mode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mode">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Translation" nillable="true" type="Translation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Translation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Texts" type="TextItem" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Parent" type="xs:string" />
    <xs:attribute name="Type" type="TextDefinitionType" use="required" />
  </xs:complexType>
  <xs:complexType name="TextItem">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Lang" type="xs:string" />
        <xs:attribute name="Role" type="xs:string" />
        <xs:attribute name="Mode" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TextDefinitionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Datamodel" />
      <xs:enumeration value="SpecialAnswer" />
      <xs:enumeration value="Block" />
      <xs:enumeration value="Constant" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="Type" />
      <xs:enumeration value="Field" />
      <xs:enumeration value="Check" />
      <xs:enumeration value="Category" />
      <xs:enumeration value="Set" />
      <xs:enumeration value="Mode" />
      <xs:enumeration value="Classification" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>